#This file lists the names of protein databases
#
# Entries should follow the be structured as follows
# Display_name omssa_tandem_dbname dbkey
#
#
Swissprot	spall_	spall	spall_
Combined PlasmboDB (falciparum) and Swissprot Human	plasmodb_pfalciparum_sphuman_	plasmodb_pfalciparum_sphuman	plasmodb_pfalciparum_sphuman_
Swissprot Human	sphuman_	sphuman	sphuman_
Combined Swissprot/TRembl Human	sptrhuman_	sptrhuman	sptrhuman_
Swissprot Mouse	spmouse_	spmouse	spmouse_
